*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:  url(./images/hero_bg.jpg);
    background-size: cover;
    background-blend-mode: soft-light;
    background-color: rgba(2, 2, 25, 0.772);
    background-repeat: no-repeat;
}

/* .firstSection{
    display: flex;
    justify-content: space-around;
} */

.firstSection h3{
    margin-top: 32px;
    font-weight: 500;
    letter-spacing: 3px;
}

.centerdLogo{
    margin-top: 22%;
    color: #ffffff;
}

.centerdLogo h2{
    text-align: center;
    font-size: 53px;
    letter-spacing: 2.5px;
}

.centerdLogo p{
    text-align: center;
    font-size: 14px;
    font-style: italic;
}

.centerdLogo button{
    margin: auto 40%;
    width: 18%;
    border: 3px solid #ffffff;
    background: none;
    color: #ffffff;
    padding: 12px;
    letter-spacing: 2.5px;
    font-size: 16px;
    font-weight: lighter;
}

.centerdLogo button:hover{
    font-weight: bold;
    color: white;
    background-color: transparent;
    transform: scale(1.05, 1.05);
    transition: .3s ease-out;
}

.centerdLogo button a{
    text-decoration: none;
    color: white;
}




/* PRESIDENTIAL_SUITE CSS BEGINS*/

.cardAlign{
    margin-top: 25PX;
}

.bookings{
    background: #ffffff;
    padding: 12px;
    height: 75px;
    width: 90%;
    border-radius: 5px;
    position: fixed;
    bottom: 18px;
}

/* .navbar-nav{
    float: right;
} */

.navbar-collapse{
    align-items: center;
    justify-content: space-around;
}

.navbar-nav{
    justify-content: space-around;
    align-items: center;
    width: 50%;
}

.nav-link{
    color: #043051;
}